body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family:Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 80%;
    padding: 5%;
    border: 2px;
    margin-top: 6%;
    text-align: center;
    
}

tr, th ,td{
    border-color: rgb(228, 139, 6) ;
    border: 5px;
}
button{
    background-color: rgb(228, 139, 6);
    border-radius: 10px;
    font-size:medium ;
    border: none;
    padding: 10px;
    width: 500px;
    height: 50px;
    font-family:Verdana,  Tahoma, sans-serif ;
}